{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section>
		<div class="container-fluid">
			<h1 class="heading">Meet The Candidates</h1>
			<div class="card-wrapper">
				{% for candidate in candidates %}
				<div id="card" class="card">
					<img src="{% static 'images/card-bg.png'%}" alt="card background" class="card-img">
					<img src="{{candidate.imageURL}}" alt="profile image" class="profile-img">
					<h1>{{candidate.first_name}} {{candidate.last_name}}</h1>
					<p class="position">{{candidate.electoral_positions}}</p>
					<p class="about">
					{{candidate.activities}}
				</p>
				<a href="#" class="btn">RESULTS</a>
				<ul class="standing-results">
				</ul>
					<h1 class="results">40%</h1>
				</div>
				{% endfor %}
				<!-- <div id="card" class="card">
					<img src="{% static 'images/card-bg.png'%}" alt="card background" class="card-img">
					<img src="{% static 'images/img1.png'%}" alt="profile image" class="profile-img">
					<h1>Yoweri Museveni</h1>
					<p class="position">President</p>
					<p class="about">
					He is the incumbent President
				</p>
				<a href="#" class="btn">RESULTS</a>
				<ul class="standing-results">
					 <li><a href="#"><i class="fas fa-poll  polls-display"></i></a></li>
				</ul>
					<h1 class="results">28%</h1>
				</div>
				<div id="card" class="card">
					<img src="{% static 'images/card-bg.png'%}" alt="card background" class="card-img">
					<img src="{% static 'images/img1.png'%}" alt="profile imge" class="profile-img">
					<h1>Kyagulanyi Ssentamu</h1>
					<p class="position">President</p>
					<p class="about">
					Muscian turned Politician
				</p>
				<a href="#" class="btn">RESULTS</a>
				<ul class="standing-results">
					 <li><a href="#"><i class="fas fa-poll  polls-display"></i></a></li> 
				</ul>
					<h1 class="results">30%</h1>
				</div>
				<div id="card" class="card">
					<img src="{% static 'images/card-bg.png'%}" alt="card background" class="card-img">
					<img src="{% static 'images/img1.png'%}" alt="profile image" class="profile-img">
					<h1>Mbidde Mukasa</h1>
					<p class="position">President</p>
					<p class="about">
					EALA MP Legislater
				</p>
				<a href="#" class="btn">RESULTS</a>
				<ul class="standing-results">
					 <li><a href="#"><i class="fas fa-poll  polls-display"></i></a></li> 
				</ul>
					<h1 class="results">2%</h1>
				</div> -->
			</div><!-- stop here -->
		</div>
	</section>
{% endblock content %}