{% extends 'base.html' %}
{% block content %}

{% include 'accounts/status.html' %}

	<div class="row">
		<div class="col-md-5">
			<h5>POLITICIANS</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary btn-sm btn-block" href="">ELECTORAL POSITIONS</a>
				<table class="table table-sm">
					<tr>
						<th>CATEGORY</th>
						<th>CONSTITUENCY</th>
					</tr>
					{% for category in categories %}
						<tr>
							<td><a class="btn btn-outline-info btn-sm btn-block" href="#">{{category.categoryName}}</a></td>
							<td>{{category.constituency}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="col-md-7">
			<h5>LAST 5 RESULTS</h5>
			<hr>
			<div class="card card-body">
			
				<table class="table table-sm">
					<tr>
						<th>POLITICIAN</th>
						<th>POSITION CONTESTED</th>
						<th>STATUS</th>
						
					</tr>
					{% for politician in politicians %}
						<tr>
							<td>{{politician.first_name}} {{politician.last_name}}</td>
							<td>{{politician.electoral_positions}}</td>
							<td>{{politician.politician_status}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}

