{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
    	<div class="row">
    	<div class="col-md-4 card-post" >
    		<div class="candidate-card">
    			<img  src="{% static 'images/placeholder.png' %}" style="width:100%">
    			<div class="container-details">
    					<h4><b>Kizza Besigye</b></h4> 
    					<p>Activist & Doctor</p> 
  				</div>
    		</div>
    	</div>

    	<div class="col-md-4 card-post" >
    		<div class="candidate-card">
    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
    					<h4><b>Kizza Besigye</b></h4> 
    					<p>Activist & Doctor</p> 
  				</div>
    		</div>
    	</div>

    	<div class="col-md-4 card-post" >
    		<div class="candidate-card">
    			<img  src="{% static 'images/placeholder.png' %}" style="width:100%">
    			<div class="container-details">
    					<h4><b>Kizza Besigye</b></h4> 
    					<p>Activist & Doctor</p> 
  				</div>
    		</div>
    	</div>
    </div>
    </div>
{% endblock %}