<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="total-results">
					<div class="card-header">
						<h5 class="card-title">POLITICAL PARTIES</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title"></h3>
					</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="results-delivered">
				<div class="card-header">
					<h5 class="card-title">RESULTS POSTED</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="results-pending">
				<div class="card-header">
					<h5 class="card-title">PENDING RESULTS</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>
</div>